@import "../../styles/variables";

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  font-size: 22px;
  background-color: $color-header-bg;
  height: $header-height;

  &__logo {
    margin-left: 5px;
  }
  &__title {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__breadcrumbs {
    flex-grow: 2;
    margin-right: 20px;
  }
  &__user {
    margin-right: 10px;
    margin-left: auto;
  }
}
