@import "../../styles/mixins";
@import "../../styles/variables";

.action {
  display: block;
  height: $input-height;
  position: relative;

  &__icon {
    display: block;
    vertical-align: middle;

    &--add {
      @mixin background-image  "./OOjs_UI_icon_add.svg", $input-height - 4;
      position: absolute;
      left: 2px;
      top: 2px;
    }

  }

  &__button {
    display: block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    outline: none;
    cursor: pointer;

    font-size: $button-font-size;
    border: 1px solid $color-input-border;
    background-color: $color-button-bg;
    white-space: nowrap;

    &:hover {
      background-color: darken($color-button-bg, 10%);
    }

    &--with-icon {
      padding-left: $input-height;
    }
  }
}
